<div nz-row>
    <div nz-col nzSpan="6" class="form-entry">
        <label>名称:</label>
    </div>
    <div nz-col nzSpan="16" class="form-entry">
        <input nz-input [(ngModel)]="menu.menuName" autocomplete="off"/>
    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="6" class="form-entry">
        <label>图标:</label>
    </div>
    <div nz-col nzSpan="16">
        <input nz-input [(ngModel)]="menu.icon" autocomplete="off" />
    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="6" class="form-entry">
        <label>地址:</label>
    </div>
    <div nz-col nzSpan="16">
        <input nz-input [(ngModel)]="menu.url" />
    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="6" class="form-entry">
        <label>描述:</label>
    </div>
    <div nz-col nzSpan="16">
        <input nz-input [(ngModel)]="menu.description" />
    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="6" class="form-entry">
        <label>状态:</label>
    </div>
    <div nz-col nzSpan="16">
        <nz-radio-group [(ngModel)]="menu.status">
            <label nz-radio [nzValue]="1">启用</label>
            <label nz-radio [nzValue]="0">禁用</label>
        </nz-radio-group>
    </div>
</div>
