<div class="list-header">
    <div nz-row>
        <div nz-col nzSpan="2" class="search-label">
            <label>商品名:</label>
        </div>
        <div nz-col nzSpan="4">
            <input nz-input [(ngModel)]="goodsName" />
        </div>
        <div nz-col nzSpan="3" nzOffset="15">
            <button nz-button (click)="search()" nzType="primary">
                <i nz-icon nzType="search"></i>查询
            </button>
        </div>
    </div>
</div>

<div class="list-body">
    <button nz-button (click)="addGoods()" nzType="primary">
        <i nz-icon nzType="plus"></i>新增
    </button>
    <nz-table #Table nzTitle="商品列表" nzFrontPagination="false" nzBordered [nzData]="dataList.list" [nzTotal]="dataList.total"
        [(nzPageIndex)]="dataList.pageIndex" [(nzPageSize)]="dataList.pageSize" (nzPageIndexChange)="search()"
        [nzScroll]="{ x: '1500px' }">
        <thead>
            <tr>
                <th nzWidth="100px">商品名</th>
                <th nzWidth="180px">商品标题</th>
                <th nzWidth="100px">图片</th>
                <th nzWidth="500px">描述</th>
                <th nzWidth="80px">价格</th>
                <th nzWidth="80px">库存</th>
                <th nzWidth="100px">状态</th>
                <th nzWidth="180px" nzRight="0px">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Table.data">
                <td>{{ data.goodsName }}</td>
                <td>{{ data.title }}</td>
                <td> <img [src]="basePictureUrl + data.image" /> </td>
                <td>{{ data.description }}</td>
                <td>{{ data.price }}</td>
                <td>{{ data.stock }}</td>
                <td>
                    <nz-badge *ngIf="data.state == 1" nzText="秒杀中" nzStatus="processing"></nz-badge>
                </td>
                <td nzRight="0px">
                    <a (click)="editGoods(data)">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a *ngIf="data.state != 1" (click)="FlashGoods(data)">加入秒杀活动</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<!-- 添加秒杀活动 -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="添加秒杀活动" [nzFooter]="null" (nzOnCancel)="isVisible = false">
    <div nz-row>
        <div nz-col nzSpan="6" class="form-entry">
            <label>秒杀价格:</label>
        </div>
        <div nz-col nzSpan="16">
            <nz-input-number [(ngModel)]="flashSale.flashPrice" [nzStep]="1"></nz-input-number>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="6" class="form-entry">
            <label>商品数量:</label>
        </div>
        <div nz-col nzSpan="16">
            <nz-input-number [(ngModel)]="flashSale.stockCount" [nzStep]="1" [nzMax]="maxCount"></nz-input-number>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="6" class="form-entry">
            <label>开始时间:</label>
        </div>
        <div nz-col nzSpan="16">
            <nz-date-picker nzFormat="yyyy-MM-dd HH:mm:ss" nzShowTime [(ngModel)]="flashSale.startDate">
            </nz-date-picker>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="6" class="form-entry">
            <label>结束时间:</label>
        </div>
        <div nz-col nzSpan="16">
            <nz-date-picker nzFormat="yyyy-MM-dd HH:mm:ss" nzShowTime [(ngModel)]="flashSale.endDate">
            </nz-date-picker>
        </div>
    </div>
    <div nz-row class="modal-footer">
        <div nz-col nzSpan="4" nzOffset="20">
            <button nz-button nzType="primary" [nzLoading]="commonService.isLoading" (click)="save()">保存</button>
        </div>
    </div>
</nz-modal>