<div class="list-header">
    <div nz-row>
        <div nz-col nzSpan="2" class="search-label">
            <label>角色名:</label>
        </div>
        <div nz-col nzSpan="4">
            <input nz-input [(ngModel)]="roleName" />
        </div>
        <div nz-col nzSpan="3" nzOffset="15">
            <button nz-button (click)="search()" nzType="primary">
                <i nz-icon nzType="search"></i>查询
            </button>
        </div>
    </div>
</div>

<div class="list-body">
    <button nz-button (click)="addRole()" nzType="primary">
        <i nz-icon nzType="plus"></i>新增
    </button>
    <nz-table #Table nzTitle="角色列表" nzBordered [nzData]="dataList.list" [nzTotal]="dataList.total"
        [(nzPageIndex)]="dataList.pageIndex" [(nzPageSize)]="dataList.pageSize" [nzScroll]="{ x: '1100px' }">
        <thead>
            <tr>
                <th nzWidth="100px">角色名</th>
                <th nzWidth="150px">创建时间</th>
                <th nzWidth="200px">描述</th>
                <th nzWidth="60px">状态</th>
                <th nzWidth="150px" nzRight="0px">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Table.data">
                <td>{{ data.roleName }}</td>
                <td>{{ data.createTime |cvtdate}}</td>
                <td>{{ data.description }}</td>
                <td>
                    <nz-badge *ngIf="data.status == 1" nzText="启用" nzStatus="processing"></nz-badge>
                    <nz-badge *ngIf="data.status == 0" nzText="禁用" nzStatus="default"></nz-badge>
                </td>
                <td nzRight="0px">
                    <a (click)="editRole(data)">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="setMenu(data.id,setMenuTmp)">设置菜单</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<!-- 设置角色菜单 -->
<ng-template #setMenuTmp>
    <nz-tree #menuTreeComponent [nzData]="nodes" nzCheckable (nzClick)="nzClick($event)"
        (nzCheckBoxChange)="nzCheck($event)" (nzExpandChange)="nzCheck($event)">
    </nz-tree>
</ng-template>